#periodic_table {
    width: 100%;
    min-width: 600px;
}

#periodic_table > div {
    margin-bottom: 2.5%;
}

#periodic_table > div > div {
    width: 5.5%;
    display: inline-block;
    margin-right: -7px;
}

#periodic_table > div > div > div {
    border: 3px solid black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    margin-top: -3px;
    padding: 20% 0;
    font-weight: bold;
}
.blue{
    background-color: #04ABF5;
}
.green{
    background-color: #8CC34B;
}
.yellow{
    background-color: #F4B907;
}
.orange{
    background-color: #EB8D01;
}
.maroon{
    background-color: #C18686;
}
.turqoise{
    background-color: #4DB6AD;
}
.grey{
    background-color: #91A5AF;
}
.lightblue{
    background-color: #27C6DA;
}
.peach{
    background-color: #F79A89;
}
.purple{
    background-color: #B39DDB;
}
.tiny1{
    font-size: 0.4em;
    padding: 0;
    margin: -10px 1px 4px;
    float: right;
    top: 0;
}
.tiny2{
    font-size: 0.4em;
    padding: 0 0 10px 0;
    margin: 0 0 20px 1.3px;
    float: left;
    position: relative;
}
.elem{
    line-height: 50%;
}